<div>
  <div class="tag-filter" style="margin: 2em;">
    <mat-form-field>
      <mat-label>Filter by Tag</mat-label>
      <mat-select [(value)]="selectedTag">
        <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let tag of tags" [value]="tag">{{ tag }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-comment-item 
  *ngFor="let comment of filterByTag(comments, selectedTag)" 
  [comment]="comment" 
  [allTags]="getAllTags()"
  (deleteComment)="deleteComment($event)"
  (updateComment)="updateComment($event)"
  >
  </app-comment-item>
</div>
<app-add-comment
  (addComment)="addComment($event)"
  [allTags]="getAllTags()"
></app-add-comment>