<form #newCommentForm="ngForm" class="add-new-form" (ngSubmit)="onFormSubmit()">

	<mat-form-field class="full-width">
		<input matInput placeholder="Title" required="true" name="title" [(ngModel)]="title">
	</mat-form-field>

	<mat-form-field class="full-width">
		<textarea matInput placeholder="Text" name="text" [(ngModel)]="text"></textarea>
	</mat-form-field>

	<mat-form-field class="tag-chip-list full-width">
		<mat-chip-list #chipList aria-label="Tag selection">
			<mat-chip
				*ngFor="let tag of tags"
				[selectable]="true"
				[removable]="true"
				(removed)="onTagRemove(tag)">
				{{tag}}
				<mat-icon matChipRemove>cancel</mat-icon>
			</mat-chip>
			<input
				placeholder="New tag..."
				#tagInput
				[formControl]="tagCtrl"
				[matAutocomplete]="auto"
				[matChipInputFor]="chipList"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				(matChipInputTokenEnd)="onTagAdd($event)">
		</mat-chip-list>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
			<ng-container *ngFor="let tag of filteredTags | async">
				<mat-option *ngIf="!tags.includes(tag)" [value]="tag">
					{{tag}}
				</mat-option>
			</ng-container>
		</mat-autocomplete>
	</mat-form-field>

	<button class="add-comment-btn" mat-raised-button color="primary" [disabled]="!newCommentForm.form.valid || title === undefined || tags.length === 0">Save</button>
</form>