<mat-card style="margin:2em;">
  <div layout="row" *ngIf="!isEditing">
    <mat-card-header>
      <!-- @TODO: CSS -->
      <mat-card-title style="margin-left:-16px;">{{ comment.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [innerHTML]="comment.text"></div>
    </mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of comment.tags" aria-label="Comment Tags">{{tag}}</mat-chip>
    </mat-chip-list>
    <mat-card-actions>
      <button (click)="onEditClick(comment)" mat-button color="primary">Edit</button>
      <button (click)="onDeleteClick(comment)" mat-button color="warn">Delete</button>
    </mat-card-actions>
  </div>

  <div layout="row" *ngIf="isEditing">
    <form class="form-comment">
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" name="title" [(ngModel)]="comment.title">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Text</mat-label>
        <textarea matInput placeholder="Text" name="text" [(ngModel)]="comment.text"></textarea>
      </mat-form-field>
      <mat-form-field class="comment-tag-list full-width">
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip
            *ngFor="let tag of comment.tags"
            [selectable]="true"
            [removable]="true"
            (removed)="onTagRemove(tag)">
            {{tag}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New tag..."
            #tagInput
            [formControl]="tagCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="onTagAdd($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <ng-container *ngFor="let tag of filteredTags | async">
            <mat-option *ngIf="!comment.tags.includes(tag)" [value]="tag">
              {{tag}}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button (click)="onSaveClick(comment)" mat-button color="primary">Save</button>
      <button (click)="onCancelClick(comment)" mat-button color="warn">Cancel</button>
    </mat-card-actions>
  </div>
</mat-card>